@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Ejercicio 2 con autenticacion con google</h1>

</div>

<div class="row">
    <p>Lorem Impsum asdas dsa dsdas d</p>
</div>